#containerHome {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 16px;
    justify-content: right;
    justify-items: 'center';
    align-items: 'center';
}

.card {
    display: flex;
    justify-content: center;
}